body {
  margin: 0;
  font-family: Josefin Sans;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome-section {
  display: flex;
}
.slogan-section {
  flex-grow: 3;
}
.welcome-section img {
  padding-left: 40px;
  height: 50%;
}

.welcome-section button {
  color: white;
  background-color: rgba(223, 174, 186, 1);
  font-family: Josefin Sans;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
  display: flex;
  flex-direction: column;
}

.product-image {
  max-width: 100%;
  height: auto;
}
.product-info {
  margin-top: auto;
  text-decoration: none;
}
.product-info button {
  color: white;
  background-color: rgba(223, 174, 186, 1);
  font-family: Josefin Sans;
  font-size: 1rem;
  padding: 0.2rem;
}

.product-image img {
  max-width: 100%;
}

.product-details-page {
  display: flex;
  flex-wrap: wrap;
}

.product-gallery {
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.product-gallery img {
  max-width: 100%;
}

.product-description {
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}
