body {
  margin: 0;
  font-family: Josefin Sans;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome-section {
  display: flex;
}
.welcome-section img {
  height: 50%;
}

.welcome-section button {
  color: white;
  background-color: rgba(223, 174, 186, 1);
  font-family: Josefin Sans;
}
